<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>求索者-首页</title>
    <script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script type="text/javascript" src="../../static/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
</head>
<body>
    <h1>求索者首页</h1>
    <a href="user/registerPage">注册</a>

    <div id="test">
        <button type="button"  v-on:click="list">触发</button>
        <button type="button"  v-on:click="findAll">请求数据</button>
    </div>
    <div id = "box">

    </div>
    <div id = "articles">
        文章标题：{{title}}<br>
        作者：{{writer}}<br>
        评论数：{{comments}}<br>
        评论内容1：{{comment}}<br>
        评论人id：{{uid}}<br>
    </div>

    <script>
        var vue2 = new Vue({
            el: '#articles',
            data:{
                title:"",
                writer:"",
                comments:0,
                comment:"",
                user:0
            },
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                var self = this;
                axios.get('/article/findAll')
                    .then(function (response) {
                        var jsonString = JSON.stringify(response.data);
                        var jsonObj = JSON.parse(jsonString);
                        self.title = jsonObj[0].title;
                        self.writer = jsonObj[0].writer;
                        self.comments = jsonObj[0].comments;
                        var articleComments = jsonObj[0].articleComments;
                        self.comment = articleComments[0].content;
                        self.uid = articleComments[0].uid;
                    });
            }
        })
    </script>

</body>
</html>